<div
   style="text-align:end;background-image:url('assets/top-view-vegetable-composition-onions-garlics-peppers-greens-dark-background-seasoning-pepper-food-product-color_140725-31050.jpg');"
   class="jumbotron text-center">


   <button [disabled]="editBtnStus" style="float:right;font-size:28px" (click)="editButton()">
      <i style="float:right;font-size:28px" class="fa fa-edit"></i>
   </button>
   <!--<i class="fa fa-american-sign-language-interpretding fa-5x" aria-hidden="true"> </i>-->
   <button [disabled]="disableFlag" style="color:rgb(8, 19, 20); float:right" (click)="submitDetails()"> Submit
      Please!</button>
   <input maxlength="15" [disabled]="inputdisabled" style="float: right;" type="text" [(ngModel)]="result2"
      (ngModelChange)="textAreaEmpty()" placeholder="Please Enter your Name">
   <!--<textarea style="float: right;" [(ngModel)]="result2" (ngModelChange)="textAreaEmpty()"></textarea>-->

   <h1 style="color:whitesmoke; text-align: center; display: inline-block;">{{result}}</h1>
   <h1 style="color:whitesmoke ;text-align:center; ">{{result2}}</h1>
</div>


<ul style="display: inline-block;list-style-type: none;" *ngFor="let image of images" class="col-md-4">
   <li>
      <img class="img-thumbnail" [src]="image" width="600" height="200">
   </li>
</ul>